* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*imput not cross the divs*/
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #efefef;
  height: 100%; /*for footer grounded in the bottom*/
}